body {
    background: url("../assets/background.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
}


.content-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.change-screen-button-wrapper {
    display: flex;
    justify-content: center;
    width: 600px;
    text-align: center;
    background: #d9d9d9;
    padding: 12px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
}

.screen-title {
    display: flex;
    flex: 1;
    text-align: center;
}
.screen-select {
    background: white;
    display: flex;
    border: none;
    flex: 2;
    width: 90%;
}

.avatar-select-block {
    background: #d9d9d9;
    width: 160px;
    height: 48px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
}

.avatar-select {
    margin: 8px;
    background: white;
    display: flex;
    border: none;
    flex: 1;
    text-align: center;
    width: 90%;
}

.avatar-list-wrapper {
    width: 75%;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    margin-top: 64px;
}

.avatar-template-list-wrapper {
    width: 75%;
    height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    margin-top: 8px;
}

.chair-button {
    background: #727272;
    width: 160px;
    height: 48px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
}

.avatar-template-button {
    background: #727272;
    width: 112px;
    height: 48px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
}

.chair-button-on {
    background-color: #d9d9d9;
}

.selector {
    display: none;
    flex-direction: column;
    padding: 15px 19px;
    transform: translate(200px, 141px);
    background: #202020;
    position: absolute;
    width: 160px;
    height: 360px;
    font-family: sans-serif;
    color: #fff;
    justify-content: flex-start;
    align-items: center;
    font-size: 22px;
}

.selector-name {
    cursor: pointer;
    text-align: center;
    margin-bottom: 8px;
}

.selector-name:hover {
    color: #efa220;
}

.divider {
    height: 2px;
    background: white;
    width: 140px;
    margin: 8px 0 8px 0;
}

.turn-on-span {
    text-align: center;
    color: #00ff8a;
}

#avatarSelect {
    height: 400px;
    transform: translate(-200px, 320px);
}

#avatarSelect.divider:nth-child(2) {
    display: none;
}
